@import url("https://fonts.googleapis.com/css?family=Bangers|Boogaloo&display=swap");

.productInput {
  margin-left: 35%;
  width: 28%;
  height: 34px;
  border: 1 px solid #ccc;
  border-radius: 4px;
}

.compareSubmit {
  margin-left: 46%;
  width: 12%;
  margin-top: 3%;
}

.compareContainer {
  margin-top: 5%;
}

.heading {
  margin-bottom: -3%;
  margin-top: 5%;
  margin-left: 2%;
}

.versus {
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: bold;
  margin-left: 50%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 3.75rem;
}

.compareproductText {
  margin-right: -31%;
  margin-left: 30%;
  margin-top: 3%;
  font-weight: bold;
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 27px;
  color: rgb(37, 37, 37);
}

.compareLink {
  display:inline-block;
  width: 100%;
}

a {
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 30px;
  text-decoration: none;
}

a:hover {
  border-bottom: none;
}

a:active {
  border-bottom: none;
}

a:focus {
  border-bottom: none;
}

.photoContainer {
    display: flex;
    flex-direction: row;
}

.compare.photoHolder {
  width: 100%;
}

.versus.compare {
  margin: auto;
  font-family: 'Bangers';
}


/* Compare Stats Css */ 

@keyframes expandBar {
  from { width: 0; } to { width:var(--bar-value); }
}

.stat-bars-label p{
  margin: 0%;
  font-family: "Arvo", sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

.comparison-bar1 {
  width: var(--bar-value);
  background-color: #F2726F;
  color: rgb(0, 0, 0);
  animation-name: expandBar;
  animation-duration: 1s;
  border-radius: 5px;
  font-size: 0.8em;
  font-family: "Arvo", sans-serif;
}

.comparison-bar2 {
  width: var(--bar-value);
  background-color: #5D62B5;
  color: rgb(0, 0, 0);
  animation-name: expandBar;
  animation-duration: 1s;
  border-radius: 8px;
  font-size: 0.8em;
  font-family: "Arvo", sans-serif;
}

#Comparison-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-radius: 15px;
  font-weight: bold;
  overflow: hidden;
}

.comparisonHeader {
  font-family: "Saira Extra Condensed", sans-serif;
  font-size: 1.5em;
  color: rgb(37, 37, 37);
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.stat-bars {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start; 
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 2%;
  padding-bottom: 5%;
}