@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

.homeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containSearch {
  width: 100%;
}

.main_Quote_Container {
  margin: auto;
}

.imageDiv {
  text-align: center;
  padding: 20px;
}

.main_quote {
  position: relative; /* allows repositioning */
  left: 100%; /* move the whole width of the image to the right */
  margin-left: -200%; /* magic! */
}

.searchIcon {
  height: 25px;
  width: 25px;
  border-bottom: none !important;
}

.searchIcon:hover {
  border-bottom: none !important;
  opacity: 0.5 !important;
}

.searchIcon:focus {
  border-bottom: none !important;
}

.searchContainer {
  display: flex;
  position: relative;
  width: 55%;
  left: 22.5%;
  height: 60px;
  align-items: center;
}

.searchBox {
  position: absolute;
  width: 93%;
  height: 65%;
  border-radius: 15px;
  border: none;
  text-align: center;
}

.navLink {
  border-bottom: none !important;
  pointer-events: none;
}

.navLinkActive {
  border-bottom: none !important;
  pointer-events: all;
}

.searchButton {
  position: absolute;
  border: none;
  right: 0px;
  margin-right: 6%;
  top: 0px;
  bottom: 0px;
  width: 50px;
  z-index: 100;
  background-color: transparent;
  border-bottom: none !important;
}

.searchButton:hover {
  border-bottom: none !important;
}

.searchButton:focus {
  border-bottom: none !important;
}

@media screen and (max-width: 1024px) {
  .searchContainer {
    width: 80%;
    left: 10%;
  }

  nav {
    display: flex;
    justify-content: space-around;
    min-height: 135px;
  }

  .searchBox {
    position: absolute;
    margin-top: 5%;
    width: 93%;
    height: 65%;
    border-radius: 15px;
    border: none;
    text-align: center;
  }

  .searchButton {
    top: 32px;
  }

  .main_quote {
    object-fit: contain;
    height: 55%;
    width: 102%;
  }
  
}
@media screen and (max-width: 600px) {
  .searchContainer {
    width: 96% !important;
    left: 2% !important;
  }
}
@media screen and (max-width: 768px) {
  .searchContainer {
    width: 75%;
    left: 12.5%;
  }
}
